$black: #1a1a1a;
$white: #f8f9fa;
$theme: #00aeef;

$theme-gradient: linear-gradient(147deg, $black 0%, $theme 74%);

$font-theme: #495057;
$font-theme-light: #6c757d;
$font-theme-dark: #212529;

$border-theme: #ced4da;
